{
  "ca_file": "/home/jhenderson/elastic/ca.crt",
  "es_host": "es_ip_or_dns_name",
  "es_port": 9200,
  "ssl_enabled": False,
  "ssl_certificate": "required",
  "check_hostname": False,
  "password_authentication": False,
  "es_user": "elastic",
  "es_password": "password",
  "policy": {
    "allocation": {
      "global": 30,
      ".monitoring": 7
    },
    "rollover": {
      "global": {
        "size": "auto",
	      "days": 30
      }
    },
    "retention": {
      "global": 90,
      ".monitoring": 7
    }
  }
}
