[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sd-notify = "*"
numpy = "*"
schedule = "*"
pandas = "*"
scipy = "*"
flask = "*"
flask_sqlalchemy = "*"
flask_migrate = "*"
pymsteams = "*"
toml = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.elasticsearch]
extras = [ "async",]
