apscheduler
sd-notify
schedule
pymsteams
toml
ipykernel
jupyter
elasticsearch
elasticsearch-dsl
opensearch-py
opensearch-dsl
mistune>=2.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
matplotlib
numpy
pandas
plotly
fpdf
jinja2
markdown
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
